@use "colors";
@use "sizes";
@use "helpers";

.top-bar {
  // background-color: colors.$primary;
  background-color: darken(colors.$primary, 5%);
  width: 100%;
  height: sizes.$xl;
  display: flex;
  flex-direction: row;
}
.icon {
  width: sizes.$xl;
  height: sizes.$xl;
  align-self: flex-end;
}
