<div class="flex-content">
    <div>
        <app-side-nav></app-side-nav>
    </div>
    <div class="filler">
        <app-top-bar></app-top-bar>
        <router-outlet></router-outlet>
    </div>
</div>