<div>
  <button (click)="increment()">COUNT THE THINGS!</button>
</div>
<div>
  <div>RESOURCE</div>
  <div>{{ (latestResource() | async)!?.resource }}</div>
  <div>{{ (latestResource() | async)!?.count }}</div>
</div>
