@use "colors";
@use "sizes";
@use "helpers";

$side-nav-color:darken(colors.$primary, 10%);
.side-nav {
  background-color: $side-nav-color;
  height: 100%;
  width: sizes.$xl;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 5rem 1rem rgb(106, 46, 24);
}
.header-icon {
  align-self: flex-start;
  padding:0;
  margin: 0;
  width: sizes.$xl;
  height: sizes.$xl;
}
.footer-button{
  background-color: $side-nav-color;
  border: 0;
  margin:0;
  padding: 0;
}
.footer-icon {
  align-self: flex-end;
  width: sizes.$xl;
  height: sizes.$xl;
}

.divider{
  width: 100%;
  border-bottom: 1px solid darken(colors.$primary,30%)
}
