<div class="side-nav">
  <div *ngFor="let app of appEntries() | async" class="header-icon">
    <a [routerLink]="app.path" routerLinkActive="active">
      <gle-icon [name]="app.iconName.name" [namespace]="app.iconName.namespace">
      </gle-icon>
    </a>
    <div class="divider"></div>
  </div>

  <div class="divider"></div>
  <div class="filler"></div>
  <div class="divider"></div>
  <button (click)="switchNavi()" class="footer-button">
    <gle-icon
      class="footer-icon"
      name="{{ navi }}"
      namespace="navigation"
    ></gle-icon>
  </button>
</div>
