@use "helpers";
@use "sizes";
@use "colors";

$base-grid: sizes.$m;
$colour-white: colors.$white;
$colour-black: #1a1a1a;
$link-size: calc($base-grid*5);
*, :after, :before {
    box-sizing: border-box;
}

.links {
  color: $colour-black;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  // min-height: 100vh;
}

.links__list {
  position: relative;
  list-style: none;
}

.links__item {
  width: $link-size;
  height: $link-size;
  position: absolute;
  top: 0;
  left: 0;
  margin-top: calc($link-size/-2);
  margin-left: calc($link-size/-2);
  --angle: calc(-360deg/var(--item-total));
  --rotation: calc(0deg + var(--angle)*var(--item-count));
  transform: rotate(var(--rotation)) translate(calc($link-size + $base-grid*2)) rotate(calc(var(--rotation)*-1));

  .links__link {
    opacity: 0;
    animation: on-load .2s ease-in-out forwards;
    animation-delay: calc(var(--item-count)*150ms);
    width: 100%;
    height: 100%;
    border-radius: 50%;
    position: relative;
    background-color: $colour-white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: inherit;
    .links__icon {
      width: calc($base-grid*2.3);
      height: calc($base-grid*2.3);
      transition: all .3s ease-in-out;
      fill: $colour-black;
    }
    .links__text {
      position: absolute;
      width: 100%;
      left: 0;
      text-align: center;
      height: $base-grid;
      font-size: calc($base-grid*0.85);
      display: none;
      bottom: $base-grid*5.8;
      animation: text .3s ease-in-out forwards;
    }
  }
  .links__link:after {
    content: "";
    background-color: transparent;
    width: $link-size;
    height: $link-size;
    border: calc(sizes.$s/5) dashed $colour-white;
    display: block;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    transition: all .3s cubic-bezier(.53,-.67,.73,.74);
    transform: none;
    opacity: 0;
  }
  .links__link:hover .links__icon {
    transition: all .3s ease-in-out;
    transform: translateY(calc(calc($base-grid*0.75)*-1));
  }

  .links__link:hover .links__text {
    display: block;
  }

  .links__link:hover:after {
    transition: all .3s cubic-bezier(.37,.74,.15,1.65);
    transform: scale(1.1);
    opacity: 1;
  }
}


@keyframes on-load {
  0% {
    opacity: 0;
    transform: scale(.1);
  }
  10% {
    opacity: .1;
    transform: scale(.2);
  }
  20% {
    opacity: .2;
    transform: scale(.3);
  }
  30% {
    opacity: .3;
    transform: scale(.4);
  }
  40% {
    opacity: .4;
    transform: scale(.5);
  }
  50% {
    opacity: .5;
    transform: scale(.6);
  }
  60% {
    opacity: .6;
    transform: scale(.7);
  }
  70% {
    opacity: .7;
    transform: scale(.8);
  }
  80% {
    opacity: .8;
    transform: scale(.9);
  }
  90% {
    opacity: .9;
    transform: scale(.95);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes text {
  0% {
    opacity: 0;
    transform: scale(0.3) translateY(0);
  }
  100% {
    opacity: 1;
    transform: scale(1) translateY(calc($base-grid*5));
  }
}
